pandas==1.1.5
tqdm==4.54.1
matplotlib==3.5.3
torchvision==0.13.0
scikit-learn==1.0.2
opencv-python==4.6.0.66
clearml==1.6.4
boto3>=1.9
notebook==6.4.12
plotly==5.11.0
pandas==1.1.5
mediapipe==0.8.11
# requests==2.28.1
# onnx==1.12.0
# onnx-tf==1.10.0
# onnxruntime==1.12.1
# tensorflow
# tensorflow-probability
