bokeh==2.4.3
boto3>=1.9
clearml==1.6.4
ipywidgets==8.0.4
matplotlib==3.5.3
mediapipe==0.8.11
notebook==6.5.2
opencv-python==4.6.0.66
pandas==1.1.5
pandas==1.1.5
plotly==5.11.0
scikit-learn==1.0.2
torchvision==0.13.0
tqdm==4.54.1
